<style>
  .input-disabled {
    background-color: #ffffff !important;
  }
</style>

<!-- DataTales Example -->
<div class="card shadow mb-4 mt-2">
  <div class="card-header py-3">
    <a href="/admin/order" class="btn btn-warning">Back</a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img
          src="http://localhost:3000/<%= order.payments.proofPayment %>"
          alt="image"
          style="width: 100%; display: block"
        />

        <div class="row ml-1">
          <% if(order.payments.status == 'unpaid' || order.payments.status == 'rejected') {%>

          <form
            action="/admin/order/<%= order.id %>/confirm?_method=PUT"
            method="POST"
          >
            <button type="submit" class="btn btn-success btn-sm">
              <i class="fas fa-check"></i>
              Confirmation
            </button>
          </form>
          <form
            action="/admin/order/<%= order.id %>/reject?_method=PUT"
            method="POST"
            class="ml-2"
          >
            <button type="submit" class="btn btn-danger btn-sm">
              <i class="fas fa-times"></i>
              Reject
            </button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="inputName">Nama</label>
          <input
            type="text"
            class="form-control input-disabled"
            name="name"
            value="<%= user.name %>"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input
            type="text"
            class="form-control input-disabled"
            name="email"
            value="<%= user.email %>"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="inputPhone">Phone Number</label>
          <input
            type="text"
            class="form-control input-disabled"
            name="phone"
            value="<%= user.phone %>"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="inputService">Service</label>
          <input
            type="text"
            class="form-control input-disabled mb-2"
            name="service"
            value="<%= order.serviceId.title %> - <%= Intl.NumberFormat('id-ID', {style: 'currency',
            currency: 'IDR'}).format(order.serviceId.price) %> "
            readonly
          />
        </div>
        <div class="form-group">
          <label for="inputStatus">Status</label>
          <input
            type="text"
            class="form-control input-disabled"
            name="status"
            value="<%= order.payments.status == 'finished' ? 'Selesai' : order.payments.status == 'paid' ? 'Menunggu Konfirmasi Admin' : order.payments.status == 'unpaid' ? 'Menunggu Pembayaran' : 'undefined' %>"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="inputTotal">Total</label>
          <input
            type="text"
            class="form-control input-disabled"
            name="total"
            value="<%=  Intl.NumberFormat('id-ID', {style: 'currency',
            currency: 'IDR'}).format(order.total) %>"
            readonly
          />
        </div>
      </div>
    </div>
  </div>
</div>
