<!-- DataTales Example -->
<div class="card mt-2 mb-4">
  <div class="card-header py-3"></div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Tanggal Order</th>
            <th>Nama Pengirim</th>
            <th>Status</th>
            <th>Aksi</th>
          </tr>
        </thead>

        <tbody>
          <% for( i = 0; i < order.length; i++){ %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= order[i].orderDate.toLocaleString().split(',')[0] %></td>
            <td><%= order[i].accountHolder %></td>
            <td><%= order[i].status == 'finished' ? 'Selesai' : order[i].status == 'paid' ? 'Menunggu Proses Freelancer' : order[i].status == 'unpaid' ? 'Menunggu Konfirmasi Pembayaran' : 'undefined' %></td>
            <td>
              <a href="/admin/order/<%= order[i]._id %>" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-eye"></i></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
