<!-- DataTales Example -->
<div class="card mt-2 mb-4">
  <div class="card-header py-3"></div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Tanggal Order</th>
            <th>Nama Pengirim</th>
            <th>Status</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% for( i = 0; i < totalOrder; i++){ %>
          <tr>
            <td><%= i+1 %></td>
            <td>
              <%= order.orderId[i].orderDate.toLocaleString().split(',')[0] %>
            </td>
            <td><%= order.orderId[i].payments.accountHolder %></td>
            <td><%= order.orderId[i].payments.status == 'finished' ? 'Selesai' : order.orderId[i].payments.status == 'paid' ? 'Menunggu Proses Freelancer' : order.orderId[i].payments.status == 'unpaid' ? 'Menunggu Konfirmasi Admin' : 'undefined' %></td>
            <td><%=  Intl.NumberFormat('id-ID', {style: 'currency',
              currency: 'IDR'}).format(order.orderId[i].total) %></td>
            <td>
              <a href="/freelancer/order/<%=  order.orderId[i]._id %>" class="btn btn-primary btn-circle btn-sm"
                ><i class="fas fa-eye"></i
              ></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
