<%- include('../../partials/header.ejs') %>
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <%- include('../../partials/freelancer/sidebar.ejs') %>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <%- include('../../partials/navbar.ejs') %>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Daftar Layanan</h1>
        <%- include('../../partials/message.ejs') %>
        <!-- End of Heading -->

        <div class="row mb-4">
          <div class="col">
            <button
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#addModal"
            >
              <span class="font-weight-bold text-xs text-uppercase"
                >Tambah</span
              >
            </button>
          </div>
        </div>

        <section id="list">
          <% for(i = 0; i < service.length; i++){ %>
          <div class="row">
            <div class="col-12 mb-3">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col-3 mr-2">
                      <img
                        src="<%= process.env.URL %><%= service[i].imgUrl%> "
                        alt=""
                        style="object-fit: contain !important; width: 100% !important; max-width: 200px; height: 112.50px !important;"
                        class="img-fluid"
                      />
                    </div>
                    <div class="col-6 mr-auto">
                      <div
                        class="text-l font-weight-bold text-primary text-uppercase mb-1"
                      >
                        <%= service[i].title %>
                      </div>
                      <div class="h6 mb-2 text-gray-500">
                        <%= service[i].description %>
                      </div>
                      <div class="h6 mb-0">
                        <%= Intl.NumberFormat('id-ID', {style: 'currency',
                        currency: 'IDR'}).format(service[i].price) %>
                      </div>
                    </div>
                    <div class="col-auto">
                      <a
                        href="javascript:void(0)"
                        type="button"
                        data-id="<%= service[i].id %>"
                        data-title="<%= service[i].title %>"
                        data-description="<%= service[i].description %>"
                        data-price="<%= service[i].price %>"
                        class="btn btn-warning btn-sm button-edit d-flex justify-content-end mb-2"
                        ><i class="fas fa-pencil-alt"></i
                      ></a>
                      <a
                        href="javascript:void(0)"
                        type="button"
                        data-id="<%= service[i].id %>"
                        class="btn btn-danger btn-sm button-delete d-flex justify-content-end mb-0"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </section>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<%- include('add_modal.ejs') %> <%- include('delete_modal.ejs') %> <%-
include('edit_modal.ejs') %> <%- include('../../partials/js.ejs') %>

<script>
  $("#list").on("click", ".button-edit", function () {
    let id = $(this).data("id");
    let title = $(this).data("title");
    let description = $(this).data("description");
    let price = $(this).data("price");
    $("#editModal").modal("show");
    $(".id").val(id);
    $(".service-title").val(title);
    $(".service-description").val(description);
    $(".service-price").val(price);
  });

  $("#list").on("click", ".button-delete", function () {
    let id = $(this).data("id");
    $("#deleteModal").modal("show");
    $(".id").val(id);
  });
</script>
