<!-- DataTales Example -->
<div class="card mt-2 mb-4">
  <div class="card-header py-3"></div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered text-center"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Nama Pemesan</th>
            <th>Subyek</th>
            <th>Budget Maksimal</th>
            <th>Aksi</th>
          </tr>
        </thead>

        <tbody>
          <% for( i = 0; i < request.length; i++){ 
            var option = {
              style: "percent",
            };
           const res = request[i].status.find(element => element.status === 'finished') 
           const totalOrder = request[i].status.length
             const totalFinished = res ? res.status : 0;
             const rating =  totalFinished / totalOrder
             const arar = Object.keys(totalFinished)
             let result = request[0].status
             console.log(result)
          %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= request[i].userId[0].name %> </td>
            <td><%= request[i].requestSubject %></td>
            <td>
              Rp <%= Intl.NumberFormat('id-ID').format(request[i].requestBudget) %>
            </td>
            <td>
              <a
                href="/freelancer/request/<%= request[i]._id %>"
                class="btn btn-primary btn-circle btn-sm"
                ><i class="fas fa-eye"></i
              ></a>
            </td>
          </tr>
          <% } 
%>
        </tbody>
      </table>
    </div>
  </div>
</div>
